@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 70%;
    margin:auto; 
}

.nav-header {
    color: #000;
    cursor: pointer;
    padding: 0px 16px;
    transition: all .3s;
    text-decoration: none;
}

.hr-headerTablet {

}

.h3-header {
    font-weight: 600;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.167;
}

/* .headerlogIn:hover .svg-header {
    fill: red;
   
}

.headerlogIn:hover .h3-header {
    color: red;
} */

.hr-header {
    content: "";
    width: 1px;
    height: auto;
    opacity: .5;
    background-color: #808080;
    margin: 0 !important;
}

.svg-header {
    fill: gray;
}

.nav-header:hover {
    color: red;
}

h4 {
    font-size: 14px !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    font-weight: 600;
}
